font{
  color: red;
  text-align: center;
  font size: 14pt;
  font-family: Fantasy; 
}

h2{
  color: blue;
  text-align: center;
  font-size: 16pt;
  font-family: fantasy;
}
body { background-image: url("/yanet/imagenes/binario.jpg");
height: 5vh;
background-position: center;
background-repeat: repeat; 
background-size: cover;}
